<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
	<form action="/whitelist" method="post">
      Enter email id to whitelist:<br>
      <input type="text" name="email" value="">
      <br>
      <input type="submit" value="Whitelist">
    </form>
<% } %>
